<% rows.each do |row| %>
  <% if row[0] %>
    <tr class="success">
  <% else %>
    <tr>
  <% end %>
    <td>
      <% if player %>
        <%= Player.find(row[1]).name %>
      <% else %>
        <%= Team.find(row[1]).name %>
      <% end %>
    </td>
    <% row.drop(2).each do |col| %>
      <td><%= col %></td>
    <% end %>
  </tr>
<% end %>
