<% if @teams.any? %>
  <% @teams.each do |team| %>
    <h3><%= team.name %> (<%= team.players.count %>)</h3>
    <div class="span9" style="padding: 20px 0">
      <% team.players.each do |player| %>
        <div class="span1 player_text">
          <div>
            <%= player.name %>
          </div>
          <% if player.voted_out_week.nil? %>
            <div>
          <% else %>
            <div style="opacity: 0.2">
          <% end %>
            <%= link_to image_tag( player.image_url, size: "68x85", alt: player.name ), player.info_url %>
          </div>
        </div>
      <% end %> 
    </div>
  <% end %>
<% end %>
