<% if @players.any? %>
  <h3>Survivors (<%= @players.count %>)</h3>
  <ol class="users">
    <% @players.each do |player| %>
      <li>
        <span class="icon_image">
          <%= link_to image_tag( player.image_url, size: "68x85" ), player.info_url %>
        </span>
        <span class="content">
          <%= player.name %>
        </span>
        <span class="timestamp">
          <%= Team.find(player.team_id).name %>
        </span>
      </li>
    <% end %> 
  </ol>
<% end %>
