<% if @teams.any? %>
  <h3>Teams (<%= @teams.count %>)</h3>
  <ol class="users">
    <% @teams.each do |team| %>
      <li>
        <span class="icon_image">
          <%= image_tag team.image_url, size: "68x85" %>
        </span>
        <span class="content">
          <%= team.name %>
        </span>
      </li>
    <% end %> 
  </ol>
<% end %>
