<% provide(:title, 'All leagues') %>
<h1>All leagues</h1>
<p>Want to run your own league? <%= link_to "Create your own!", new_league_path %></p> 

<%= will_paginate %>

<ul class="leagues">
  <%= render @leagues %>
</ul>

<%= will_paginate %>
