<% provide(:title, "Scoreboard") %>
<h1>Week <%= @week_number %> Scoreboard</h1>
<% if @week_number >= 1 %>
  <%= render 'leagues/scoreboard/normal' %>
<% else %>
  <%= render 'leagues/scoreboard/closed' %>
<% end %>

