<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cheechpool</h1>
    <h2>Your password has been reset to "<%= @password %>"</h2>
    <p>
      Go to the following link and login with your generated password:
      <br>
      <br>
      <%= link_to "Update your Profile",
                  "https://www.cheechpool.com/users/#{@user.id}/edit",
                  style: "margin-left:2em" %>
      <br>
      <br>
      If you did not reset your password, please inform me at cbachich@gmail.com.
    </p>
  </body>
</html>
