<div class="span4">
  <div class="span4">
    <h3><%= challenge.name %> Challenge Winner</h3>
    <p>Choose who won this week's challenge.</p>
  </div>
  <% if challenge.is_players?
       objects = @league.players_left
     else
       objects = @league.teams_left
     end
  %>
  <% objects.each do |object| %>
    <div class="span1" style="text-align: center">
      <b><%= object.name %></b>
      <%= image_tag object.image_url, size: "128x128", alt: object.name %>
      <%= radio_button_tag "challenge_selection_#{challenge.name}", object.id %>
    </div>
  <% end %>
</div>
