<div class="span4">
  <div class="span4">
    <h3><%= challenge.name %> Challenge Winner</h3>
    <p>Choose the team that won this week's challenge.</p>
  </div>
  <% @teams.each_with_index do |team, i| %>
    <div class="span1" style="text-align: center">
      <b><%= team.name %></b>
      <%= image_tag team.image_url, size: "128x128", alt: team.name %>
      <%= radio_button_tag "team_selection_#{challenge.name}", team.id %>
    </div>
  <% end %>
</div>
