<td>
  <% if object.nil? %>
    <div>
      <%= image_tag "http://www.deviantart.com/download/198313911/no_profile_picture_by_normero-d3a2jzr.jpg", size: "45x45", alt: "None", title: "None" %>
  <% else %>
    <% if challenge.name == "Elimination"
         winner = object.voted_out_this_week?(@week)
         size = "45x45"
       else
         winner = object.won_challenge?(challenge)
         size = "60x60"
       end %>

    <!-- If this is last week's results, there must be a winner -->
    <!-- Hide the others -->
    <% if !picksheet_closed? && !winner %>
      <div style="opacity: 0.2">
    <% else %>
      <div>
    <% end %>

    <!-- Add the player/team name to the top of a cell -->
    <%= object.name %></div>
    
    <!-- If this is last week's results, there must be a winner -->
    <!-- Hide the others -->
    <% if !picksheet_closed? && !winner %>
      <div style="opacity: 0.2">
    <% else %>
      <div>
    <% end %>

    <!-- Finally add the player/team image to the cell -->
    <%= image_tag object.image_url, size: size, alt: object.name, title: object.name %> 
  <% end%>
  </div>
</td>
