<h1>Week <%= @week_number %> Picksheet</h1>
<h2>Closed for this week!</h2>
<p> The picksheet is closed for this week. Please visit the <%= link_to "Scoreboard", scoreboard_url %> to view everyone's picks and scores for the week.</p>
