<div class="span9">
  <h2>Rank Players:</h2>
  <p>
    Rank the players based on the likeliness they will be voted out of the game this week. The lowest number is associated with the player you think is <b>MOST</b> likely to be voted out this week, while the highest number is associated with the <b>LEAST</b> likely player. Only one number can be assigned to each player. So you should have all numbers ranging from 1 to <%= players.count %>.
  </p>
</div>
<% players.each_with_index do |player, i| %>
  <div class="span1" style="text-align: center">
    <b><%= player.name %></b>
    <%= image_tag player.image_url, alt: player.name %>
    <%= number_field_tag "eliminations#{i}", player_picks[i], in: 1..players.count, class: "number_input" %>
  </div>
<% end %>

