@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.7em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.0em;
  line-height: 1.7em;
}

.player_text {
  font-size: 0.9em;
  text-align: center;
}

/* header */

header {
  div {
    padding: 10px 0px;
  }

  h1 {
    font-size: 1.7em;
    font-weight: 400;
    margin-bottom: 5px;
    letter-spacing: -1px;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;

  a {
    color: $gray;

    &:hover {
      color: $grayDarker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
    textarea {
      width: 90%;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
}

.number_input {
  width: 85%;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* home */

.home {
  padding: 0 20px;

  p {
    padding: 0 20px;
  }
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* leagues index */

.leagues {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* smacks */

.smacks {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
aside {
  textarea {
    height: 100px;
    width: 300px;
    margin-bottom: 5px;
  }
}

/* Picksheet */

.challenge_pick_row {
  border-top: 1px solid #A4A4A4;
  padding-top: 10px;
  margin-top: 20px;
}

.player_voted_out {
  opacity: 0.4;
}

.challenge_player {
  padding-bottom: 20px;
}

/* Scoreboard */

.button_row {
  border-top: 1px solid #A4A4A4;
  padding-top: 10px;
  margin-top: 20px;
  text-align: center;
}

/* Images */

.icon_image {
  float: left;
  margin-right: 10px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.center .gravatar {
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
