<% if signed_in? %>
  <section>
    <%= render 'shared/user_info' %>
  </section>
  <% if active_league? %>
    <section>
      <%= render 'shared/smack_form' %>
    </section>
  <% end %>
</aside>
<% end %>
